<div 
  x-data="{
    width: 0,
    height: 0,
    dragBallRadius: 6,
    labelMaxHeight: 40,
    labelMaxWidth: 80,
    get padding() { 
      return { 
        x: this.dragBallRadius + this.labelMaxWidth/2,
        y: this.dragBallRadius + this.labelMaxHeight/2
      }
    },
    get r() { 
      const availableW = (this.width - (this.padding.x * 2)) / 2;
      const availableH = (this.height - (this.padding.y * 2)) / 2;
      return Math.min(availableW, availableH);
    },
    get centre() { 
      return {
        x: this.r + this.padding.x,
        y: this.r + this.padding.y,
      }
    },
    draggingIndex: null,
    activeIndex: null,
    get activeSectionRadius() { return this.r * 1.01 },
    colours: ['#dc2626', '#fcd34d', '#9333ea', '#fb923c', '#4f46e5', '#16a34a'],
    maxSections: 6,

    degToRad(deg) { return (deg % 360) * (Math.PI / 180); },
    radToDeg(rad) { return ((rad * (180 / Math.PI)) + 360) % 360; },
    normalizeAngle(a) {
      let normalised = (a + Math.PI * 2) % (Math.PI * 2)
      return normalised === 0 ? Math.PI * 2 : normalised
    },
    getMidAngle(start, end, radius){
      return this.normalizeAngle(start + ((end - start + 2*Math.PI) % (2*Math.PI)) / 2)
    },
    getArcPos(angle, radius) {
      return {
        x : this.centre.x + Math.cos(angle) * radius, 
        y : this.centre.y + Math.sin(angle) * radius
      }
    },

    init() {
      const rect = this.$refs.svg.getBoundingClientRect()
      this.width = rect.width
      this.height = rect.height
    },

    onMove(e) {
      if (this.draggingIndex === null) return;
      
      const rect = this.$refs.svg.getBoundingClientRect();
      const x = e.clientX - rect.left - this.centre.x;
      const y = e.clientY - rect.top - this.centre.y;
      
      this.sectionData[this.draggingIndex].angle_deg = this.radToDeg(this.normalizeAngle(Math.atan2(y, x)));
    },

    drawSector(start, end, radius) {
      const dDiff = this.normalizeAngle(end - start)

      if (dDiff === 2 * Math.PI) {
        return `
          M ${this.centre.x},${this.centre.y}
          m -${radius},0
          a ${radius},${radius} 0 1,0 ${radius*2},0
          a ${radius},${radius} 0 1,0 -${radius*2},0
        `
      }

      const { x: StartX, y: StartY } = this.getArcPos(start, radius)
      const { x: EndX, y: EndY } = this.getArcPos(end, radius)

      return `
        M ${this.centre.x},${this.centre.y}
        L ${StartX},${StartY}
        A ${radius},${radius} 0 ${dDiff > Math.PI ? 1 : 0} 1 ${EndX},${EndY}
        Z
      `
    }
  }"
  @mousemove.window="onMove($event)"
  @mouseup.window="draggingIndex = null"
  class="w-full aspect-square"
  x-init="init()"
>
  <svg
    x-ref="svg"
    class="w-full h-full"
  >

    <defs>
      <filter id="activeShadow" x="-30%" y="-30%" width="160%" height="160%">
        <feDropShadow
          dx="0"
          dy="3"
          stdDeviation="4"
          flood-color="rgba(0,0,0,0.4)"
        />
      </filter>
    </defs>

    <circle
      :cx="centre.x"
      :cy="centre.y"
      :r="r"
      fill="#d6d3d1"
      />

    <g 
      x-html="
        const makeHandle = (idx) => {
          const s = sectionData[idx];
          const angle = degToRad(s.angle_deg);
          const pos = getArcPos(angle, r);
          const color = '#2563eb';

          return `<circle 
            cx='${pos.x}' cy='${pos.y}' 
            r='${dragBallRadius}' 
            fill='${color}' 
            style='cursor: pointer' 
            onmousedown='window.dispatchEvent(new CustomEvent(&quot;on-drag&quot;, {detail: ${idx}}))' 
          />`;
        };

        return sectionData.map((s, i) => {
          const colour = colours[i % colours.length]

          const prevSection = i === 0 ? sectionData[sectionData.length - 1] : sectionData[i - 1];
          const start = degToRad(prevSection.angle_deg);
          const end = degToRad(s.angle_deg);
          const radius = activeIndex == i ? activeSectionRadius : r;
          
          // Section
          const path = `
            <path 
              d='${drawSector(start, end, radius )}' 
              fill='${colour}' 
              style='cursor: pointer' 
              filter='${activeIndex == i ? 'url(#activeShadow)' : ''}'
              opacity='${activeIndex == i ? '0.9' : '0.6'}' 
              onclick='window.dispatchEvent(new CustomEvent(&quot;on-select&quot;, {detail: ${i}}))'
            />
          `;

          const midAngle = getMidAngle(start, end);
          const arcPos = getArcPos(midAngle, radius);

          const label = `
            <foreignObject x='${arcPos.x - (labelMaxWidth/2)}' y='${arcPos.y - (labelMaxHeight/2)}' width='${labelMaxWidth}' height='${labelMaxHeight}' style='pointer-events: none;'>
              <div class='flex flex-col gap-0.5 items-center justify-center w-full h-full' xmlns='http://www.w3.org/1999/xhtml'>
                ${s.label ? 
                  `<div style='background-color: ${colour}' class='px-2 text-white rounded-md text-[12px] flex items-center justify-center shadow'>
                    ${s.label}
                  </div>`
                  : ''}
                <div style='background-color: ${colour}' class='px-2 text-white rounded-md text-[10px] flex items-center justify-center shadow'>
                  ${s.timer_pct}%
                </div>
              </div>
            </foreignObject>
          `;

          return path + label;
          
        }).join('') + (activeIndex !== null ? makeHandle(activeIndex) + makeHandle(activeIndex === 0 ? sectionData.length - 1 : activeIndex - 1) : '')
      "
      @on-select.window="activeIndex = $event.detail"
      @on-drag.window="draggingIndex = $event.detail">
    </g>

  </svg>

  <div class="flex justify-between">
    <div>
      <template x-if="activeIndex != null && sectionData.length > 1">
        <button 
          @click="() => {
            if (sectionData.length <= 1 || activeIndex === null) return;
    
            sectionData.splice(activeIndex, 1);
            activeIndex = null;
          }"
          class="text-white rounded font-bold cursor-pointer bg-red-500"
          style="aspect-ratio: 1">
          <img :src="'../icons/dash.svg'" class="w-8">
        </button>
      </template>
    </div>

    <button 
      :disabled = "sectionData.length == maxSections"
      @click="() => {
        const lastSection = sectionData[sectionData.length - 1]
        const secondLastSection = sectionData[sectionData.length - 2]
        
        const start = degToRad(secondLastSection.angle_deg);
        const end = degToRad(lastSection.angle_deg);
        const midAngle = radToDeg(normalizeAngle(start + ((end - start + 2*Math.PI) % (2*Math.PI)) / 2))

        lastSection.angle_deg = midAngle;
        sectionData.push({
          serial: sectionData.length,
          angle_deg: end,
          timer_pct: 50
        }); 
      }"
      class="text-white rounded font-bold cursor-pointer bg-blue-500 disabled:opacity-50 disabled:cursor-auto"
      style="aspect-ratio: 1">
      <img :src="'../icons/plus.svg'" class="w-8">
    </button>
  </div>
</div>