<div x-show="bShow" 
    class="fixed inset-0 z-50 flex items-center justify-center bg-black/10 backdrop-blur-sm p-4"
    @click="bShow = false"
    x-data="{ 
        buttonText: 'Register',
        endpoint: API_URL + '/api/register_pivot',
        onSuccess: (res) => {
            bShow = false;
        },
        fields: {
            'name': { label: 'Name', type: 'text', value: '', errorMsg: '' },
            'imei': { label: 'Gencom IMEI', type: 'text', value: '', errorMsg: '' },
            'user': { value: user_id, bHidden: true }
        }
    }"
        >
        <form-card/>
    </div>
</div>